<div>
    <div
        [ngStyle]="{ marginTop: '10rem' }"
        class="d-flex justify-content-between align-items-center"
    >
        <div>
            <h1 class="text-c1" id="name">Sameer Narendran</h1>
            <p class="text-c1" id="tagline">I like to build things</p>
        </div>
        <img
            src="{{ imgpath }}"
            id="portrait-img"
            class="w-25 rounded-circle border-thick-c1"
            alt="my portrait"
        />
    </div>
    <div [ngStyle]="{ marginTop: '10rem' }" class="text-center">
        <img id="scroll-down-chevron" src="{{ 'assets/images/down_chevron.png' }}" />
    </div>
</div>
