#experience-div {
    padding: 10rem;
}

#experience-inner-div {
    width: 75%;
}

#experience-inner-div h1 {
    border-bottom: 5px solid #38BDAE;
}

#experience-inner-div p {
    font-size: 1.2rem;
    font-weight: 300;
}


#experience-div .nav-link {
    color: #f8f9fa;
    text-align: right;
    font-size: 1.2rem;
    border-radius: 0;
    border-right: 5px solid transparent;
}

#experience-div .nav-link.active {
    background-color: transparent;
    border-right-color: #38BDAE;
    color: #38BDAE;
    font-weight: 500;

}

.experience-position-company-time {
    font-size: 1.2rem!important;
}

.experience-position-description {
    font-size: 1rem!important;
}