<div id="experience-div">
    <div id="experience-inner-div">
        <h1 class="w-100 text-c1 p-2">Experience</h1>

        <div class="d-flex p-2 pt-4">
            <div ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills flex-column w-25" orientation="vertical">
                <ng-container *ngFor="let e of this.experiences" ngbNavItem={{e._id}}>
                    <button ngbNavLink>{{e.position}}</button>
                    <ng-template ngbNavContent>
                        <p class="experience-position-company-time text-light">{{e.time}} @ {{e.company}}</p>
                        <ul class="experience-position-description text-light">
                            <li *ngFor="let d of e.description">{{parseDescription(d)}}</li>
                        </ul>
                        <p class="text-light experience-position-skills">Skills: {{e.skills.join(', ')}}</p>
                    </ng-template>
                </ng-container>
            </div>
        
            <div [ngbNavOutlet]="nav" class="ms-4 w-75"></div>
        </div>


    </div>
</div>
