#skills-div {
    padding: 10rem;
}

#skills-inner-div {
    width: 60%;
}

#skills-inner-div h1 {
    border-bottom: 5px solid #38BDAE;
}

#skills-inner-div p {
    font-size: 1.2rem;
    font-weight: 300;
}

.skill-table-row {
    padding: 0.5rem;
}

.skill-table-cell {
    font-size: 1.2rem;
    font-weight: 500!important;
    margin-bottom: 0
}