#main {
    padding: 5rem;
    /* height:5000px; */
    position: relative;
}

#bg-static {
    position: relative;
    background-color: #000000;
    background-size: cover;
    background-position: center;
}

#bg-dynamic {
    position: fixed;
    top: 0;
    bottom: 0;
    right: auto;
    width: 100%;
    background-image: url("./assets/images/ss1-compressed.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-position-x: -1400px;
    background-size: 200%;
    background-position-y: -3000px;
}
