#footer-div {
    padding: 5rem 2rem;
    padding-bottom: 0;
}

#footer-inner-div {
    width: 100%;
    border-top: 5px solid #38bdae;
}

.footer-link:hover {
    filter: brightness(50%);
}

#footer-container {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 767px) {
    #footer-container {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}
